<h1>{{title}}</h1>


<form action="/action_page.php" target="_self"> 
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="message">Message:</label><br>
    <textarea name="message" rows="10" cols="21"></textarea> 
    <input type="submit" value="Submit">
</form>