<form method="post" action="/login" class="container">
    <input type="text" placeholder="Login" name="username" required>
    <input type="password" placeholder="Password" name="password" required>
    <button type="submit" class="loginButton">Login</button>
</form>